<!--? Ejemplo nav schematic  -->
<!-- <app-nav></app-nav> -->
<div class="content" role="main">
  <!--? Ejemplo date picker con angular material -->
  <!-- <app-date-picker></app-date-picker> -->
  <!--?Ejemplo de formulario de dirección de envio creado con schematics de angular material  -->
  <!--   <app-formulario-direccion></app-formulario-direccion> -->
  <!-- ? Ejemplo tabla con ordenacion y paginacion creada con schematic -->
  <!--     <app-tabla></app-tabla> -->

  <!--? Ejemplo dashboard -->
  <!--   <app-dashboard></app-dashboard> -->
  <!--? Ejemplo de arbol  -->
  <!-- <app-arbol></app-arbol> -->
  <!--? Ejemplo Drag and Drop  -->
  <app-drag-drop></app-drag-drop>
</div>

<router-outlet></router-outlet>
